@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url("./assets/bg_2.jpg");
}
nav,
.title-group {
	font-family: "Anton", sans-serif;
}

.btn-home a:hover {
	color: #ffff;
	background: #ff0000;
	box-shadow: 0 0 50px #ff0000;
}
