.neon-box {
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }
  .neon-title{
    font-size: 6rem;
  }
  @media  screen and (max-width: 650px) {
    .neon-title{
      font-size: 3rem;
    }
    .neon-title3{
      font-size: 1.25rem;
      width: 87%;
    }
    .neon-title2{
      font-size: 1.25rem;
      width: 86%;
    }
  }
  .neon-box:before, .neon-box:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
  }
  font-size: 1.25rem;
      width: 8%;
  .neon-box:before {
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000;
    animation: flicker 1.5s infinite alternate;
  }
  
  .neon-box:after {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
    animation: flicker 2s infinite alternate-reverse;
  }
  
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0.1;
    }
    25% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.2;
    }
    75% {
      opacity: 0.7;
    }
    80% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  
  